* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: auto;
  }
  
  h1 {
    margin-top: 10px;
    text-align: center;
  }

  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #bookmark-form {
    text-align: center;
  }

  .bookmark-add-button {
    display: inline-block;
    height: 50px;
    width: 200px;
    vertical-align: top;
  }

  #book-rate {
    height: 50px;
    width: 200px;
  }

  .bookmark-list {
    list-style: none;
    padding-left: 0;
  }
  
  #bookmarks-diplay > li {
    margin-bottom: 20px;
    border: 5px solid grey;
    padding: 20px;
  }
  
  .bookmark-item {
    text-align: center;
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .request-error {
    background-color: pink;
    position: absolute;
    top: 0;
    right: 5;
  }

  @media screen and (max-width: 320px) {
    
    h1 {
      margin: auto;
      padding-top: 20px;
    }

    li {
      margin-left: 10%;
      margin-right: 10%;
    }

    a {
      text-align: center;
    }

  }